*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

  
  header {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .travelNav {
      display: flex;
      align-items: center;
      min-height: 100px;
      width: 100%;
      background: transparent;
      margin: auto;
      img{
    width: 130px;
    }
      .collapseDiv {
        justify-content: flex-end;
        ul {
          gap: 20px;
          font-weight: 500;
          font-size: 18px;
          .nav-link {
            color: white;
          }
        }
      }
    }
    @media (max-width: 991px) {
     #navbarNav{
      background-color: white;
      ul{
        .nav-link{
           color: black;
    
         }


      }
    }
    

    }

  }
  
  #walking {
    min-height: 650px;
    background-image: url("/assets/img/amsterdam-1.jpg");
    text-align: center;
    display: flex;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .walkingTxt {
      color: white;
      h1 {
        font-size: 70px;
        font-weight: 500;
      }
      h4 {
        font-weight: 300;
      }
      button {
        width: 170px;
        height: 60px;
        background: transparent;
        border-color: white;
        color: white;
        font-weight: 500;
        &:hover {
          background-color: #FBCE00 ;
          color: white ;
        }
      }
    }
  
  
  @media (max-width: 600px) {
    .walkingTxt {
      h1{
        font-size: 40px;
      }
      h4{
        font-size: 20px;
      }
    }
  }
  }



  #tourOrganizer{
    width: 100%;
    min-height: 400px;
    text-align: center;
    display: flex;
    align-items: center;
    img{
        width: 80px;
    }
    h1{
        font-size: 30px;
        font-weight: 400;
    }
  }

  #navagio{
    width: 100%;
    height: auto;

    .col-lg-6{
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #EFEFEF; 
        img{
            width: 100%;
            height: 600PX;
        }
        h1{
          font-size: 30px;
        }
    }
  }

  #popular{
    width: 100%;
    margin-top: 5%;
    text-align: center;
    min-height: 650px;  

    .col-12{
      width: 400px;
      display: flex;
      margin: 2%;
      
      button{
        width: 130px;
        height: 50px;
        background-color: #FBCE00;
        color: white;
        border: none;
        &:hover {
          background-color: black;
          color: white;
          border: none;
        }
      }
      }
      
      
      #product {
        margin: 3%;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        font-weight: 600;
        color: rgb(157, 157, 157);
        flex-wrap: wrap;
        .boxs {
          width: 250px;
          flex-wrap: wrap;
        }
        .divz {
          width: 100%;
      
          button {
            width: 100px;
            height: 50px;
            background-color: #FBCE00;
            color: white;
            border: none;
            margin-bottom: 10px;
            &:hover {
              background-color: black;
              color: white;
            }
          }
          img {
            width: 100%;
            height: auto;
          }
          .divc {
            width: 100%;
            display: flex;
            justify-content: space-between;
          }
        }
      }
      #load{
        width: 130px;
        height: 50px;
        background-color: #FBCE00;
        color: white;
        border: none;
        &:hover {
          background-color: black;
          color: white;
        }
        margin: 3%;
      }

  }

  #discover{
    width: 100%;
    margin-top: 5%;
    min-height: 650px;
    background-image: url("/assets/img/amsterdam-1.jpg");
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .discoverTxt{
      color: white;
      text-align: center;
     
    }
     
    .form{
      width: 100%;
      height: 400px;
     background-color: #FBCE00;
     display: flex;
     justify-content: center;
     flex-direction: column;
     bottom: 0;
     h1{
      font-size: 25px;
      font-weight: 500;
     }
      #form1 {
        width: 80%;
      margin: auto;
        .form-group {
          input {
            border: none;
            background-color: #e6e6e6;
          }
          textarea {
            border: none;
            background-color: #e6e6e6;
          }
        }
        button {
          width: 160px;
          height: 40px;
          border: none;
          background-color: blue;
          font-size: 14px;
          color: white;
       
        }
      }
    }
  }


  #newsOn{
    width: 100%;
    min-height: 650px;
    margin-top: 5%;
    .container{
      display: flex;
      display: flex;
      align-items: center;
      justify-content: space-around;
     button{
      width: 160px;
      height: auto;
      border: none;
      background-color: #FBCE00;
      border-radius: 5px;
      padding: 10px 20px;
    }
    }
    .newsCard{
      margin-top: 2%;
      .col-lg-4{
        
        img{
          width: 100%;
        }
        h1{
          font-size: 20px;
          font-weight: 400;
        }
      }
    }
  }


  

 footer{
  background-color: black;
  color: white;
  text-align: center;
  width: 100%;
  min-height: 150px;
  padding-top: 20px;
}







//BASKET  wishlist//

#productz {
  margin-top: 3%;
  display: flex;
  align-items: center;
  gap: 14px;
  width: 100%;
  height: auto;
  font-weight: 600;
  color: rgb(157, 157, 157);
  flex-wrap: wrap;
  justify-content: center;
  .divz {
    width: 100%;
    img {
      width: 220px;
    }
    .divc {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    button {
      width: 130px;
      height: 50px;
      background-color: #FBCE00;
      color: white;
      border: none;
      &:hover {
        background-color: black;
        color: white;
      }
      margin: 3%;
    }
  }
}

@media (max-width: 772px) {
  #disp {
    display: none;
  }
  header .sellingNav {
    display: none;
  }
  #ourProducts .col-12 {
    flex-wrap: wrap;
  }
  #navagio .col-lg-6 img{
    height: auto;
  }
}
